{
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "svelteSortOrder": "scripts-markup-styles-options",
        "svelteStrictMode": false,
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true
      }
    }
  ]
}
